PROXY_PORT=3001
SERVE_CLIENT=false

SEB_SERVER_USERNAME=guiClient
SEB_SERVER_PASSWORD=somePW
SEB_SERVER_URL=http://localhost:8080

PROCTOR_SERVER_USERNAME=spsGuiClient
PROCTOR_SERVER_PASSWORD=somePW
PROCTOR_SERVER_URL=http://localhost:8090
