/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.breadcrumb-link {
    color: #6b7280;
    cursor: pointer;
    font-weight: 450;
    transition: color 0.2s;
}

.breadcrumb-link:hover {
    color: #215caf;
    font-weight: bold;
}

.breadcrumb-active {
    color: #215caf;
    font-weight: 500;
}

.breadcrumb-arrow {
    color: #9ca3af;
    margin: 0 4px;
    font-size: 20px;
}
